<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}">Document</title>
</head>
<body>

    <h1 th:text="${title}"></h1>
    <a th:href="@{/list-all}">Go back</a>
    <div>
        <div>
            <img th:if="${product.image != null && #strings.length(product.image) > 0}"
                 style="max-width= 25%;"
                 th:src="@{/img/} + ${product.image}" th:alt="${product.name}">
        </div>
        <ul>
            <li th:text="${product.name}"></li>
            <li th:text="'Id: ' + ${product.id}"></li>
            <li th:text="'Price: ' + ${#numbers.formatCurrency(product.price)}"></li>
            <li th:text="'Date: ' + ${#calendars.format(product.createdAt, 'dd/MM/yyyy')}"></li>
        </ul>
    </div>
</body>
</html>